@import '../_constants';

.select-media-dialog-inner {
  a {
    color: $explorer-primary;
  }
}

.source-search-results {
    .icon-button-help {
        float: right;
        margin-top: -25px;
        margin-left: 25px;
    }
}
