{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-object-assign",
  ],
  "env": {
    "development": {
      "plugins": [
        ["@babel/plugin-transform-react-jsx-source"],
        ["react-intl", {
          "messagesDir": "./build/messages/"
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
