
.advanced-media-picker-search {

  .filter-options {
    .app-button {
      margin-right: 10px;
      color: black;
    }
  }

  label {
    &.categorical {
      float: right;
      margin-top: 10px;
      font-weight: bold;
      font-size: 14px;

      &.for-name {
        margin-top: 40px;
      }
    }
  }

  .media-picker-filter-options {
    padding: 20px;
    margin-top: 10px;

    &.media-picker-media-types {
      margin-top: 10px;
      margin-left: 65px;
      max-width: 400px;
    }

    &.media-picker-pub-in {
      margin-top: 10px;
      margin-left: 195px;
      max-width: 400px;
    }

    &.media-picker-language {
      margin-top: 10px;
      margin-left: 126px;
      max-width: 400px;      
    }

    &.media-picker-about {
      margin-top: 10px;
      margin-left: 266px;
      max-width: 400px;      
    }

    .form-field-checkbox {
      padding: 5px;
    }

    ul {
      margin-top: 5px;
      list-style-type: none;
      padding-left: 20px;

      li {
        margin-bottom: 5px;

        small {
          padding-left: 20px;
          display: block;
        }

      }

    }
  }

}

.media-picker-search-results {
  .icon-button-help {
      float: right;
      margin-top: -25px;
      margin-left: 25px;
  }

  .source-search-keys {
    font-weight: bold !important;
  }
  h2 {
    font-weight: normal !important;
  }
}
