@import '../_constants';

.metadata-picker {
  margin-bottom: 15px;

  label {
    font-size: 16px;
    font-family: Lato;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
  }

}

.icon-button.icon-button-help{
  margin-left: 0 !important;
}

.search-section {
	margin-top: 5px;
	p {
		margin-top: 30px;
	}
}
