@import '../constants';

.app-tools {

  #nav-toolbar {
    background-color: $tools-primary;
  }

  .app-icon-button {
    &.hovering :hover {
      background-color: $tools-darker !important;
    }   
  }

}

/* important for this to outside of app-container for modals and such */
a {
  color: $tools-primary;
}
