@import '../_constants';

.tool-user-search {
  width: 250px;
}

.tool-user-search-button {
  top: 10px;
}

span.label {
    font-size: 16px;
    font-weight: bold;
    &.chip-label {
      line-height: 30px;
    }
    &.field-label {
      line-height: 50px;
    }
    &.unlabeled-field-label {
      display: block;
      padding-top: 40px !important;
    }
  }

.datacard.stat {
  .icon-button {
    margin-left: 2px !important;
  }
}