@import '../_constants';

body {
  font-family: $font-families;
  font-size: 14px;
  color: $primary-color;
  margin: 0px;
  padding: 0px;
  background-color: $material-grey200;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-family: $body-text-font-families;
}

h1 {
  padding-top: 40px;
  margin-top: 0px;
}

h2 {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

h3 {
  small {
    display: inline-block;
    padding-left: 8px;
    font-weight: normal;
  }
}

td {
  font-family: $body-text-font-families;
}

li {
  font-family: $body-text-font-families;
}

p.light {
  color: $material-grey400;
}

table {
  padding: 0px;
  border-spacing: 0;
  border-collapse: collapse;
  /* make sure wider columns don't overlow and make the table blowout the Col */
  table-layout:fixed;
  width:100%;
}

table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $material-grey900;
  position: relative;
  background-color: inherit;
  padding: 5px 13px;
  border-bottom: 1px solid $material-grey100;

  &.numeric {
    text-align: right;
  }
}

table tr:nth-child(even),
table tr.even {
  background-color: $material-grey200;
}

table tr:nth-child(odd),
table tr.odd {
  background-color: inherit;
}

table td {
  padding: 13px;
  font-size: 13px;
  vertical-align: top;

  /* make sure wider columns don't overlow and make the table blowout the Col */
  overflow-x: scroll;

  &.numeric {
    text-align: right;
  }
}

footer {
  background-color: $material-grey200;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $material-grey300;
}

code {
  padding: 10px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  display: inline-block;
}

#content {
  min-height: 400px;
  padding-bottom: 30px;
  background-color: $white;

  .notice {
    padding: 10px;
  }

}

.warning {
  color: $warning-color;
}

.warning-background {
  background-color: $warning-color;
}

.error {
  color: $error-color;
}

.error-background {
  background-color: $error-color;
}

.detail-background {
  background-color: $material-grey300;
}
