
.analytics-dashboard {

  .analytics-results-table {
    margin-top: 30px;
  }

  .form-field-select {
    margin-right: 10px;
  }

  .form-inline-text {
    font-size: 16px;
    padding-right: 10px;
  }

  .app-button {
    margin-top: 0px;
  }
}
