@import '../constants';

.focus-selector-wrapper {
  position: relative;
  color: $white !important;

  .focus-selector {
      .selected-focus-details {
        position: absolute;
        color: rgb(224, 224, 224) !important;
        font-family: inherit !important;
        font-size: inherit !important;
      }
      svg {
          fill: $white !important;
      }
  }
  
}
