@import '../constants';

.focus-selector-wrapper {
  position: relative;
  color: $white !important;
  float: left;
  width: 90%;

  .focus-selector {
      .selected-focus-details {
        position: absolute;
        color: rgb(224, 224, 224) !important;
        font-family: inherit !important;
        font-size: inherit !important;
      }
      svg {
          fill: $white !important;
      }
  }
  
}

.filter-selector.row {
    .icon-button {
      margin-top: 20px;
    }
    span.helpful {
      .icon-button {
        float: right;
      }
      button {
        background-color: $material-grey200;
        float: right; 
      }
    }
  }
