.platform-builder {

  .platform-builder-next {
    margin: 30px 0px;
  }

  .platform-create-edit-keyword {
    label {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }
  }

  .available-platform-list {
    margin-top: 30px;
  }

  .platform-edit-open-web {

    .media-field-wrapper {
      margin-top: 0px;
    }

  }

  .platform-summary {
    margin: 10px 0px;
    img {
      margin-right: 5px;
    }
    code {
      font-size: 10px;
      margin-bottom: 5px;
      display: inline-block;
    }
  }

}
