@import '../constants';

.create-topic {
  min-height: 500px;

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .app-button {
    margin-top: 15px;
  }

  .query-field {
    border: 1px solid $material-grey200 !important;
    textarea {
      margin-left: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    input {
      margin-left: 10px;
    }
  }

  label {
    margin: 10px 0px;
    display: block;
  }
}

.media-field-wrapper {
  margin-top: 20px;
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .media-widget {
    padding: 10px;
    border: 1px solid $material-grey200;
    border-bottom: 0px;
    &:last-child {
      border-bottom: 1px solid $material-grey200;
    }
    .icon-button {
      float: right !important;
      margin-top: -17px;
    }
  }
  .add-media {
    border: 1px solid $material-grey200;
    border-top: 0px;
    padding: 10px;
  }
}

.error {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgb(244, 67, 54) !important;
}

.topic-form {
  .app-button {
    margin-top: 15px;
  }
}
