@import '../_constants';

.topic-info {
  code {
    display: block;
    max-height: 333px;
    overflow: scroll;
    color: $material-grey500;
  }
}

.link-map-form {
	.checkbox-top-align {
		margin-top: 30px !important;
	}
}

.topic-info-sidebar {
  border: 1px solid $material-grey300;
  padding: 30px;
  margin: 30px 0px;

  p {
    b {
      display: block;
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  code {
    display: block;
  }

  h2 {
    margin-top: 0px !important;
  }

  .media-widget {
    font-size: 14px;
  }

  &.faded {
    opacity: 0.5;
  }

}
