@import '../_constants';

.topic-version-status {

  h1 {
    .error-background {
      padding: 10px;
    }
  }

  h2 {
    padding-bottom: 0px;
    margin-top: 15px;
    &:first-child {
      margin-top: 0px;
    }
  }

  .app-button {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  table {
    margin-top: 15px;
  }

}